* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    padding: 1%;
}

canvas {
    display: block;
    border: 1px solid black;
    background: url('../media/images/greeter4.jpg') center no-repeat;
}

canvas:hover {
    cursor: crosshair
}